<!DOCTYPE html>
<html>
<body>

<p id="demo1"></p>


<script>

const macfood= {
  nuggets: 8.50,
  burger: 6.00,
  coke: 2,

};

document.getElementById('demo1').innerHTML=macfood.nuggets;


</script>


































  
<center>

  <h2>Delicious Restaurant</h2>
  <p>Price of the items</p>
  <p id="demo1"></p>
  <br>
<table border="1">
<tr>
<td><p id="demo2"></p></td>
</tr>
</table>

<script>

const food = {
  NUGGET: 8.5,
  BURGER: 6,
  COKE: 2,
  };



document.getElementById("demo1").innerHTML = "Price of 5 pieces of Nuggets" + ": "+ food.NUGGET;
document.getElementById("demo2").innerHTML = food.BURGER*3+3;
</script>

</center>
</body>
</html>